NodeMcu SBC - AWS Using NodeRed/flows.json
[{"id":"94ce1fd3.63ceb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7f592848.998cb8","type":"inject","z":"94ce1fd3.63ceb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":120,"wires":[["d670087b.f82458","73d082ae.8c5c9c"]]},{"id":"d670087b.f82458","type":"debug","z":"94ce1fd3.63ceb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":120,"wires":[]},{"id":"9b5f822c.d0eaa","type":"http in","z":"94ce1fd3.63ceb","name":"","url":"/digiotai","method":"get","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["d670087b.f82458","73d082ae.8c5c9c"]]},{"id":"73d082ae.8c5c9c","type":"mqtt out","z":"94ce1fd3.63ceb","name":"","topic":"myTopic/getPayload","qos":"","retain":"","broker":"eab53595.780748","x":620,"y":280,"wires":[]},{"id":"eab53595.780748","type":"mqtt-broker","z":"","name":"temp","broker":"az2awibec9xgi-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"507238a1.932fd8","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"507238a1.932fd8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"c089ce3bd5-certificate.pem.crt","keyname":"c089ce3bd5-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true}]